@use 'sass:color';
@use 'sass:math';

/* Variables */
// Colours
$primary: #005b99;
$white: #fff;
$grey-100: #e9e9ed;
$grey-300: #bdbdc1;
$grey-500: #919195;
$grey-700: #646468;
$green: #036803;
// Spacing
$spacing: 1rem;

main.main {
    margin-top: math.div($spacing, 2);

    @media (min-width: 992px) {
        margin-top: $spacing;
    }
}

footer {
    border-top: 1px solid $grey-300;
    color: $grey-700;
    margin-top: $spacing * 2;
    padding: $spacing;
}

.letters {
    margin-left: math.div($spacing, 2);
    margin-top: 0;
    max-width: 18rem;

    @media (min-width: 992px) {
        margin-left: $spacing;
        margin-top: math.div($spacing, 2);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 0;
        margin-left: 0;
        margin-right: math.div($spacing, 2);
        padding-left: math.div($spacing, 2);
        padding-top: math.div($spacing, 2);

        &.complete {
            background-color: color.scale($green, $lightness: 72%);
        }
    }
}

.words {
    margin-top: math.div($spacing, 2);
    overflow: auto;

    @media (min-width: 992px) {
        margin-top: $spacing;
    }

    &__grid {
        border-collapse: collapse;
        border: 2px solid $grey-700;
    }
}

.controls {
    margin-top: math.div($spacing, 2);

    @media (min-width: 992px) {
        margin-top: $spacing;
    }

    &>button {
        display: block;
        text-align: left;
        width: 100%;

        &:first-child {
            margin-top: 0;
        }
    }
}

.letters__item,
.words__cell {
    background-color: $white;
    padding: math.div($spacing, 2);
    text-align: center;
    min-width: 2.5rem;

    &:empty::after {
        content: '\00a0';
    }

    @media (min-width: 992px) {
        padding: $spacing;
        min-width: 3.5rem;
    }
}

.letters__item {
    border: 2px solid $grey-500;
    list-style: none;
    margin-bottom: math.div($spacing, 2);
    margin-right: math.div($spacing, 2);

    &.used {
        background-color: $grey-100;
        border-color: $grey-300;
        color: $grey-700;
    }
}

.words__cell {
    border: 1px dashed $grey-500;

    &:empty::after {
        content: '\00a0';
    }

    &.used {
        border: 2px solid $primary;
        padding: calc(#{math.div($spacing, 2)} - 1px);

        @media (min-width: 992px) {
            padding: calc(#{$spacing} - 1px);
        }
    }
}

.dragover {
    background-color: color.scale($primary, $lightness: 64%);
}

.icon {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    text-align: center;
    vertical-align: -0.125em;
    width: 1.25em;
}

[draggable='true'] {
    cursor: move;
}

[draggable='false'] {
    cursor: not-allowed;
}

[hidden] {
    display: none !important;
}
